<div class="input-prepend span6">
<%=link_to_function(image_tag("will_filter/clock.png", :title => "Select start date and time", :class => "add-on"), "wfCalendar.selectDateTime('wf_v#{index}_0', this)")%>	
<%=text_field_tag("wf_v#{index}_0", container.sanitized_value(0), :class => 'span10', :onChange => 'wfFilter.fieldChanged(this)')%>	
</div>

<div class="input-prepend span6">
<%=link_to_function(image_tag("will_filter/clock.png", :title => "Select end date and time", :class => "add-on"), "wfCalendar.selectDateTime('wf_v#{index}_1', this)")%>	
<%=text_field_tag("wf_v#{index}_1", container.sanitized_value(1), :class => 'span10', :onChange => 'wfFilter.fieldChanged(this)')%>	
</div>
