<div class="input-prepend">
<%=link_to_function(image_tag("will_filter/clock.png", :title => "Select date and time", :class => "add-on"), "wfCalendar.selectDateTime('wf_v#{index}_0', this)")%>
<%=text_field_tag("wf_v#{index}_0", container.sanitized_value, :style => 'width:99%', :onChange => 'wfFilter.fieldChanged(this)')%>
</div>
