<div class="span12">
<%=text_field_tag("wf_v#{index}_0", container.sanitized_value(0), :class => 'span6', :onChange => 'wfFilter.fieldChanged(this)')%>
<%=text_field_tag("wf_v#{index}_1", container.sanitized_value(1), :class => 'span6', :onChange => 'wfFilter.fieldChanged(this)')%>
</div>
